/* bodyのフォント種類を、「"Arial", "Meiryo", sans-serif」 にします。 */
body {
  font-family: "Arial", "Meiryo", sans-serif;
}
/* html要素のフォントサイズを20pxにします。 */
.decoration {
  /* ここにCSSを書いていきます */
  font-size: 20px;
}

/* 「MY PROFILE」の「M」をスカイブルーに、「P」をピンクにしてください。 */
.blue {
  color: skyblue;
}

.pink {
  color: rgb(255, 192, 203);
}

/* 先に指定したピンク、スカイブルーと同じ色を次の要素にも指定してください。 */
.heading-pink {
  color: rgb(255, 192, 203);
}

.heading-skyblue {
  color: skyblue;
}

/* h1の装飾 */
h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  letter-spacing: 1.2em;
  text-shadow: 2px 2px 4px gray;
  border-bottom: 3px solid rgb(115, 115, 114);
}

/* その他の装飾 */
body {
  text-align: center;
}
/* basic内のp要素のみ太字 */
#basic p {
  font-weight: bold;
}
